@import url("https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");

.loveRoom {
  height: 1000px;
  background: url("https://images.pexels.com/photos/1150988/pexels-photo-1150988.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940")
    no-repeat center;
  background-size: cover;
  margin: 0;
}

.titleLoveRoom {
  font-family: "Caveat", cursive;
  font-size: 50px;
  color: white;
  text-shadow: 1px 1px 1px #d327a4;
  margin: 0;
  padding: 20px;
}


.buttonStartLove {
  background-color: #0c021f;
  color: #d327a4;
  padding: 10px;
  text-align: center;
  font-family: "Caveat", cursive;
  font-size: 25px;
  border-radius: 20px;
  border: 1px solid #d327a4;
  box-shadow: 0px 0px 15px #3f0850;
}

.buttonStartLove:focus {
  border: none;
  outline: none;
}

.buttonStartLove:hover {
  cursor: pointer;
}

.buttonStartInvisible {
  display: none;
}

.charactersLoveurs {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.characterLoveur {
  width: 150px;
  padding: 10px;
  margin: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.namePerso {
  color: #d327a4;
}

.imgPerso {
  width: 120px;
  height: 150px;
}

.questionVisible {
  font-family: "Syne Mono", monospace;
  background-color: white;
  color: #0c021f;
  padding: 5px;
  margin: 10px;
  width: 200px;
  margin-left: 500px;
  border-radius: 20px;
  cursor: pointer;
}
.questionVisible:hover {
  box-shadow: 0px 0px 35px white;
}
.questionInvisible {
  visibility: hidden;
}

.reponseVisible {
  font-family: "Syne Mono", monospace;
  background-color: white;
  color: #0c021f;
  padding: 5px;
  margin: 10px;
  width: 200px;
  margin-left: 820px;
  border-radius: 20px;
  cursor: pointer;
}

.reponseInvisible {
  visibility: hidden;
}

.score1Invisible,
.score2Invisible,
.score3Invisible,
.score4Invisible,
.score5Invisible,
.score6Invisible,
.score7Invisible {
  visibility: hidden;
}


.score1Visible,
.score2Visible,
.score3Visible,
.score4Visible,
.score5Visible {
  background-color: #0c021f;
  color: #d327a4;
  padding: 10px;
  text-align: center;
  font-family: "Caveat", cursive;
  font-size: 25px;
  border-radius: 20px;
  border: 1px solid #d327a4;
  box-shadow: 0px 0px 15px #3f0850;
}
.score6Visible {
  font-weight: bold;
  padding: 10px;
  text-align: center;
  font-family: "Caveat", cursive;
  font-size: 25px;
  border-radius: 20px;
  width: 300px;
  align-self: center;
  margin-left: auto;
    margin-right: auto;
    color: whitesmoke;
}
.score1Visible:hover,
.score2Visible:hover,
.score3Visible:hover,
.score4Visible:hover,
.score5Visible:hover {
  border: 1px solid White;
  box-shadow: 0px 0px 15px White;
  cursor: pointer;
}
.choiceInvisible {
  display: none;
}
