@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');

.loveRoom{
    height: 1000px;
    background: url("https://images.pexels.com/photos/1150988/pexels-photo-1150988.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940") no-repeat center;
    background-size: cover;

}

.buttonStartLove{
    color: pink;
    font-size: 20px;
}

.charactersLoveurs{
    display: flex;
    justify-content: space-around;
}

.characterLoveur{
    width: 200px;
    height: 200px;
    background-color: pink;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.namePerso{
   color: #D327A4;
}

.imgPerso{
 width: 120px;
 height: 150px;
}

.questionVisible{
    font-family: 'Syne Mono', monospace;
    background-color: white;
    color: #0C021F;
    padding: 5px;
    margin: 10px;
    width: 200px;
    margin-left: 500px;
}

.questionInvisible{
    visibility: hidden;
}

.reponseVisible{
    font-family: 'Syne Mono', monospace;
    background-color: white;
    color: #0C021F;
    padding: 5px;
    margin: 10px;
    width: 200px;
    margin-left: 800px;
}

.reponseInvisible{
    visibility: hidden;
}

.score1Invisible, .score2Invisible, .score3Invisible, .score4Invisible, .score5Invisible, .score6Invisible, .score7Invisible{
    visibility: hidden;
}

.choiceInvisible{
    display: none;
}