.loveRoomPlanet{
    height: 1000px;
    background: url("https://images.pexels.com/photos/4994815/pexels-photo-4994815.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940") no-repeat center;
    background-size: cover;
}