.loveRoomPlanet {
  height: 1000px;
  background: url("../img/bgStarWarsList.jpg") no-repeat fixed center;
  background-size: cover;
}
.cupidon {
  font-family: "Caveat", cursive;
  color: white;
  text-shadow: 1px 1px 1px #d327a4;
  font-size: 300%;
  margin: 0;
  padding: 20px;
}
.visibleChoiceLover {
  background-color: #0c021f;
  color: #d327a4;
  padding: 10px;
  text-align: center;
  font-family: "Caveat", cursive;
  font-size: 25px;
  border-radius: 20px;
  border: 1px solid #d327a4;
  box-shadow: 0px 0px 15px #3f0850;
  margin: 50px;
}

.invisibleChoiceLover {
  display: none;
}

.starWarsLoveurs {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.globalCardLoveur {
  padding: 10px;
  margin: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.568);
  border-radius: 30px;
}
.globalCardLoveur:hover {
  transform: scale(1.3);
  cursor: pointer;
  z-index: 100;
  background-color: rgb(255, 255, 255);
}
.selected {
  border-style: solid;
  border-color: #d327a4;
}
.imageLoveur {
  width: 200px;
  height: 200px;
  border-radius: 100%;
}

.nameLoveur {
  width: 110px;
  padding: 5px;
  margin-top: -5px;
  color: #d327a4;
}
